@charset "utf-8";
/* CSS Document */

body{ margin:0; padding:0; font-family:'微软雅黑';}

header{ width:100%;height:50px; background:#191D1C; margin:0 auto;position:fixed; z-index:2}

.header{ width:94%; height:46px; margin:0 auto;  line-height:46px; color:#FFF;  cursor:pointer }
.header img{ float:left; margin-top:15px;}
.header span{ text-align:center;font-size:18px; font-family:'微软雅黑'; position:relative; left:50%; margin-left:-52px;}

.ui-body-c, .ui-overlay-c{ text-shadow:none}