html,
body {
  height: 100%;
  overflow: hidden;
}
html {
  font-size: 62.5%;
}
body {
  font-family: Helvetica, "microsoft yahei", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background: #ffffff;
}
a,
a:hover {
  color: #252525;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
}
form label:not(.select),
.form label:not(.select) {
  display: inline-block;
  line-height: inherit;
  margin: 0.15em 0;
}
form input[type="text"],
.form input[type="text"],
form input[type="password"],
.form input[type="password"],
form input[type="date"],
.form input[type="date"],
form input[type="datetime"],
.form input[type="datetime"],
form input[type="email"],
.form input[type="email"],
form input[type="number"],
.form input[type="number"],
form input[type="search"],
.form input[type="search"],
form input[type="tel"],
.form input[type="tel"],
form input[type="time"],
.form input[type="time"],
form input[type="url"],
.form input[type="url"],
form select,
.form select,
form textarea,
.form textarea,
form label.select,
.form label.select {
  display: inline-block;
  width: 100%;
  margin: .5em 0;
  padding: 0 .5em;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -ms-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  transition: all 100ms linear;
  font-family: inherit;
  -webkit-appearance: none;
  -webkit-user-select: text;
  border: 0;
}
form input[type="text"]:focus,
.form input[type="text"]:focus,
form input[type="password"]:focus,
.form input[type="password"]:focus,
form input[type="date"]:focus,
.form input[type="date"]:focus,
form input[type="datetime"]:focus,
.form input[type="datetime"]:focus,
form input[type="email"]:focus,
.form input[type="email"]:focus,
form input[type="number"]:focus,
.form input[type="number"]:focus,
form input[type="search"]:focus,
.form input[type="search"]:focus,
form input[type="tel"]:focus,
.form input[type="tel"]:focus,
form input[type="time"]:focus,
.form input[type="time"]:focus,
form input[type="url"]:focus,
.form input[type="url"]:focus,
form select:focus,
.form select:focus,
form textarea:focus,
.form textarea:focus,
form label.select:focus,
.form label.select:focus {
  outline: none !important;
}
form input[type="text"].border,
.form input[type="text"].border,
form input[type="password"].border,
.form input[type="password"].border,
form input[type="date"].border,
.form input[type="date"].border,
form input[type="datetime"].border,
.form input[type="datetime"].border,
form input[type="email"].border,
.form input[type="email"].border,
form input[type="number"].border,
.form input[type="number"].border,
form input[type="search"].border,
.form input[type="search"].border,
form input[type="tel"].border,
.form input[type="tel"].border,
form input[type="time"].border,
.form input[type="time"].border,
form input[type="url"].border,
.form input[type="url"].border,
form select.border,
.form select.border,
form textarea.border,
.form textarea.border,
form label.select.border,
.form label.select.border,
form input[type="text"].border > select,
.form input[type="text"].border > select,
form input[type="password"].border > select,
.form input[type="password"].border > select,
form input[type="date"].border > select,
.form input[type="date"].border > select,
form input[type="datetime"].border > select,
.form input[type="datetime"].border > select,
form input[type="email"].border > select,
.form input[type="email"].border > select,
form input[type="number"].border > select,
.form input[type="number"].border > select,
form input[type="search"].border > select,
.form input[type="search"].border > select,
form input[type="tel"].border > select,
.form input[type="tel"].border > select,
form input[type="time"].border > select,
.form input[type="time"].border > select,
form input[type="url"].border > select,
.form input[type="url"].border > select,
form select.border > select,
.form select.border > select,
form textarea.border > select,
.form textarea.border > select,
form label.select.border > select,
.form label.select.border > select {
  padding: 0.3em 0.4em;
}
form textarea,
.form textarea {
  min-height: 2.5em;
  line-height: 1.2em;
}
form fieldset,
.form fieldset {
  position: relative;
  padding: 0 .5em;
}
form input[type="date"] {
  height: 2.5rem;
}
.wx-form {
  background: #f3f3f3;
}
.wx-form ::-webkit-input-placeholder {
  color: #818181;
}
.wx-form .linkage {
  display: block;
}
.wx-form .indent {
  margin-top: 20px;
  border-top: 1px solid #e8e8e8;
}
.wx-form .wx-ctrl-group {
  padding: 1.2rem;
  border-bottom: 1px solid #e8e8e8;
  font-size: 1.8rem;
  position: relative;
  background: #ffffff;
}
.wx-form .wx-ctrl-group .wx-ctrl-static {
  display: inline-block;
  padding-top: .2rem;
  padding-left: 1.5rem;
  width: 60%;
  vertical-align: middle;
}
.wx-form .wx-ctrl-group label:not(.wx-radio) {
  width: 35%;
  vertical-align: middle;
}
.wx-form .wx-ctrl-group input:not([type="radio"]),
.wx-form .wx-ctrl-group select {
  width: 60%;
  vertical-align: middle;
}
.wx-form .large-label label:not(.wx-radio) {
  width: 45%;
  vertical-align: middle;
}
.wx-form .large-label input:not([type="radio"]),
.wx-form .large-label select {
  width: 50%;
  vertical-align: middle;
}
.alert {
  padding: .6rem 1.2rem;
  font-size: 1.4rem;
  color: #818181;
  border-bottom: 1px solid #e8e8e8;
}
.alert:before {
  display: inline-block;
  content: '';
  width: 30px;
  height: 30px;
  vertical-align: middle;
  background: center center no-repeat;
  background-size: 100% auto;
}
.alert-error {
  padding: .6rem 1.2rem;
  font-size: 1.4rem;
  color: #818181;
  background: #fdeceb;
  border-bottom: 1px solid #e8e8e8;
}
.alert-error:before {
  display: inline-block;
  content: '';
  width: 30px;
  height: 30px;
  vertical-align: middle;
  background: url(../img/icon/warning.png) center center no-repeat;
  background-size: 100% auto;
}
.alert-info {
  background: #e4eff8;
}
.alert-info:before {
  background-image: url(../img/icon/bell.png);
}
input[type="radio"] {
  width: 20rem;
  height: 20rem;
  position: absolute;
  overflow: hidden;
  padding: 0;
  border: 0;
  opacity: 0.001;
  z-index: 1;
  vertical-align: top;
  outline: none;
  -webkit-box-sizing: border-box;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 1.4rem;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-primary {
  color: #ffffff;
  background-color: #229d2b;
  border-color: #229d2b;
}
.btn-info {
  color: #ffffff;
  background-color: #4b96cf;
  border-color: #4b96cf;
}
.btn-info:hover {
  color: #ffffff;
}
.btn-info-wire {
  border-color: #4b96cf;
  color: #4b96cf;
}
.btn-primary-wire {
  color: #229d2b;
  background-color: transparent;
  border-color: #229d2b;
}
.btn-danger-wire {
  color: #ea473f;
  background-color: transparent;
  border-color: #ea473f;
}
.btn-block {
  display: block;
  padding: .8rem 1.2rem;
  width: 100%;
  font-size: 1.8rem;
  padding-left: 0;
  padding-right: 0;
}
.well,
.btn-well {
  padding: 1.5rem;
}
.well .tips,
.btn-well .tips {
  margin-bottom: 1rem;
  color: #818181;
}
.well-bg {
  background: #f3f3f3;
}
.top-line {
  border-top: 1px solid #e8e8e8;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.text-highlight {
  color: #229d2b;
}
.text-dim {
  color: #818181;
}
.text-dimer {
  color: #c8c8c8;
}
.text-info {
  color: #4b96cf;
}
.text-danger {
  color: #ea473f !important;
}
.text-block {
  display: block;
}
.text-small {
  font-size: 1.2rem;
}
.wx-radio-checkmark:before,
.wx-radio-checkmark:after {
  content: '';
  position: absolute;
  border-radius: 100%;
}
.wx-radio {
  margin-left: .8rem!important;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}
.wx-radio .wx-radio-checkmark {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  position: relative;
}
.wx-radio .wx-radio-checkmark:after {
  opacity: 0;
  width: 5px;
  height: 10px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  border-radius: 0;
  top: 2px;
  left: 6px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.wx-radio .wx-radio-checkmark:before {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 1px solid #818181;
}
input[type="radio"]:checked + .wx-radio-checkmark:after {
  opacity: 1;
  border-color: #ffffff;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
input[type="radio"]:checked + .wx-radio-checkmark:before {
  border: 1px solid #229d2b;
  background: #229d2b;
}
.wx-checkbox {
  background-color: #818181;
  border: 1px solid #818181;
  appearance: none;
  -webkit-appearance: none;
  -webkit-user-select: text;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  -o-border-radius: 26px;
  border-radius: 26px;
  cursor: pointer;
  height: 28px;
  position: relative;
  -webkit-transition: border 0.25s 0.15s, box-shadow 0.25s 0.3s, padding 0.25s;
  -moz-transition: border 0.25s 0.15s, box-shadow 0.25s 0.3s, padding 0.25s;
  -ms-transition: border 0.25s 0.15s, box-shadow 0.25s 0.3s, padding 0.25s;
  -o-transition: border 0.25s 0.15s, box-shadow 0.25s 0.3s, padding 0.25s;
  transition: border 0.25s 0.15s, box-shadow 0.25s 0.3s, padding 0.25s;
  width: 44px;
  vertical-align: top;
}
.wx-checkbox:after {
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  border-radius: 24px;
  content: '';
  display: block;
  height: 24px;
  left: 0;
  position: absolute;
  right: 16px;
  top: 0;
  -webkit-transition: border .25s .15s,left .25s .1s,right .15s .175s;
  -moz-transition: border .25s .15s,left .25s .1s,right .15s .175s;
  -ms-transition: border .25s .15s,left .25s .1s,right .15s .175s;
  -o-transition: border .25s .15s,left .25s .1s,right .15s .175s;
  transition: border .25s .15s,left .25s .1s,right .15s .175s;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}
.wx-checkbox:checked {
  padding-left: 18px;
  -webkit-transition: border 0.25s, box-shadow 0.25s, padding 0.25s 0.15s;
  -moz-transition: border 0.25s, box-shadow 0.25s, padding 0.25s 0.15s;
  -ms-transition: border 0.25s, box-shadow 0.25s, padding 0.25s 0.15s;
  -o-transition: border 0.25s, box-shadow 0.25s, padding 0.25s 0.15s;
  transition: border 0.25s, box-shadow 0.25s, padding 0.25s 0.15s;
  border-color: #229d2b;
  -webkit-box-shadow: inset 0 0 0 13px #229d2b;
  -moz-box-shadow: inset 0 0 0 13px #229d2b;
  -ms-box-shadow: inset 0 0 0 13px #229d2b;
  -o-box-shadow: inset 0 0 0 13px #229d2b;
  box-shadow: inset 0 0 0 13px #229d2b;
}
.wx-checkbox:checked:after {
  left: 16px;
  right: 0;
  -webkit-transition: border .25s,left .15s .25s,right .25s .175s;
  -moz-transition: border .25s,left .15s .25s,right .25s .175s;
  -ms-transition: border .25s,left .15s .25s,right .25s .175s;
  -o-transition: border .25s,left .15s .25s,right .25s .175s;
  transition: border .25s,left .15s .25s,right .25s .175s;
  border-color: #ffffff;
}
.wx-nav-pills {
  font-size: 1.4rem;
}
.wx-nav-pills:after {
  content: '';
  display: block;
  clear: both;
}
.wx-nav-pills li {
  float: left;
  margin: 0 .8rem 0 0;
}
.wx-nav-pills li:last-child {
  margin: 0;
}
.wx-nav-pills li a {
  display: block;
  border-radius: 1.8rem;
  padding: .5rem 1.2rem;
  text-align: center;
}
.wx-nav-pills li.selected a {
  color: #ffffff;
  background: #229d2b;
}
.wx-arrow {
  padding-right: 2.4rem!important;
}
.wx-arrow:after {
  margin-top: -0.5rem;
  position: absolute;
  right: 1.5rem;
  top: 50%;
  width: 1rem;
  height: 1rem;
  content: '';
  border-right: 0.1em solid #818181;
  border-top: 0.1em solid #818181;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.badge {
  display: inline-block;
  padding: 0 10px;
  min-width: 10px;
  border-radius: 20px;
  color: #ffffff;
  font-size: 1.4rem;
  vertical-align: middle;
  background: #c8c8c8;
  position: relative;
}
.badge.badge-info {
  background: #4b96cf;
}
.badge.badge-warning {
  background: #f5893e;
}
.badge.badge-danger {
  background: #ea473f;
}
.wx-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../img/wx_mobile_sprite.png);
}
.wx-icon.icon-md {
  width: 28px;
  height: 28px;
}
.icon-traffic {
  background-size: 28px 28px ;
  background-image: url(../img/icon/traffic.png);
}
.icon-gas {
  background-size: 28px 28px ;
  background-image: url(../img/icon/oil.png);
}
.icon-car {
  background-size: 28px 28px ;
  background-image: url(../img/icon/car.png);
}
.icon-sale {
  background-size: 28px 28px ;
  background-image: url(../img/icon/sale.png);
}
.icon-user {
  background-size: 28px 28px ;
  background-image: url(../img/icon/person.png);
}
.icon-phone {
  background-size: 28px 28px ;
  background-image: url(../img/icon/phone.png);
}
.icon-tools {
  background-size: 28px 28px ;
  background-image: url(../img/icon/tools.png);
}
.icon-steering {
  background-size: 28px 28px ;
  background-image: url(../img/icon/steering.png);
}
.icon-success {
  display: inline-block;
  margin: 1rem 0;
  width: 6rem;
  height: 6rem;
  border: 0.2rem solid #ffffff;
  border-radius: 100%;
  position: relative;
}
.icon-success:before {
  content: '';
  display: block;
  width: 3rem;
  height: 1.5rem;
  border: solid #ffffff;
  border-width: 0 0 5px 5px;
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.icon-success.green {
  border-color: #229d2b;
}
.icon-success.green:before {
  border-color: #229d2b;
}
.tab-widget ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  border: 1px solid #229d2b;
  border-radius: 5px;
}
.tab-widget ul li {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  border-right: 1px solid #229d2b;
  padding: .2rem;
  font-size: 1.6rem;
  text-align: center;
}
.tab-widget ul li:last-child {
  border: none;
}
.tab-widget ul li.selected {
  background: #229d2b;
}
.tab-widget ul li.selected a {
  color: #ffffff;
}
.tab-widget ul li a {
  display: block;
  text-decoration: none;
  color: #229d2b;
}
.wx-thumb {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -o-box-orient: horizontal;
  box-orient: horizontal;
}
.wx-thumb .thumb-caption {
  padding-left: .5rem;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
}
.wx-thumb .thumb-caption strong {
  font-size: 1.8rem;
  font-weight: normal;
}
.wx-list {
  background: #f3f3f3;
}
.wx-list li {
  padding: 1.5rem;
  font-size: 1.6rem;
  border-bottom: 1px solid #e8e8e8;
  background: #ffffff;
  position: relative;
}
.wx-list li.header {
  padding: .5rem 1.5rem;
  color: #818181;
  font-size: 1.4rem;
  background: #f3f3f3;
}
.wx-list li .thumb .thumb-caption {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
}
.wx-list li a {
  display: block;
}
.wx-list li strong {
  font-weight: normal;
  vertical-align: middle;
}
.wx-list li small {
  font-size: 1.4rem;
  color: #818181;
  vertical-align: middle;
}
.wx-list li.arrow {
  padding-right: 2.5rem;
}
.wx-list li.arrow::after {
  position: absolute;
  right: 1.5rem;
  top: 45%;
  width: 1rem;
  height: 1rem;
  content: '';
  border-right: 0.1em solid #818181;
  border-top: 0.1em solid #818181;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.wx-list li:last-child {
  border: none;
}
.wx-list .indent {
  margin-top: 20px;
  border-top: 1px solid #e8e8e8;
}
.modal {
  margin-top: -7.5rem;
  margin-left: -7.5rem;
  padding: 1rem;
  border-radius: 1rem;
  width: 15rem;
  height: 15rem;
  color: #ffffff;
  font-size: 1.8rem;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  background: rgba(0, 0, 0, 0.8);
}
.modal .success {
  display: inline-block;
  margin: 1rem 0;
  width: 6rem;
  height: 6rem;
  border: 0.2rem solid #ffffff;
  border-radius: 100%;
  position: relative;
}
.modal .success:before {
  content: '';
  display: block;
  width: 3rem;
  height: 1.5rem;
  border: solid #ffffff;
  border-width: 0 0 5px 5px;
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.wx-header {
  padding: 0px;
  border-bottom: 1px solid #229d2b;
  text-align: center;
  background: #006DB8;
  color: white;
  font-size: 20px;
}
.wx-header .tab-widget {
  margin-top: 1rem;
}
.wx-header .title {
  margin: 0 30%;
  font-size: 1.8rem;
  font-weight: normal;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wx-page {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  visibility: visible;
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: block;
}
.wx-page.hide {
  visibility: hidden;
  z-index: -2;
  -webkit-animation: pageSlideOut 0.3s;
  -o-animation: pageSlideOut 0.3s;
  animation: pageSlideOut 0.3s;
  display: none;
}
.wx-page.show {
  display: block;
  visibility: visible;
  z-index: 10;
  -webkit-animation: pageSlide 0.3s;
  -o-animation: pageSlide 0.3s;
  animation: pageSlide 0.3s;
}
.wx-slide-panel {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  visibility: hidden;
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: none;
}
.wx-slide-panel.show {
  display: block;
  visibility: visible;
  z-index: 10;
  -webkit-animation: pageSlide 0.3s;
  -o-animation: pageSlide 0.3s;
  animation: pageSlide 0.3s;
}
.wx-slide-panel.hide {
  visibility: hidden;
  z-index: -2;
  -webkit-animation: pageSlideOut 0.3s;
  -o-animation: pageSlideOut 0.3s;
  animation: pageSlideOut 0.3s;
  display: none;
}
@-webkit-keyframes pageSlide {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0%, 0, 0);
  }
}
@-webkit-keyframes pageSlideOut {
  from {
    -webkit-transform: translate3d(0%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(100%, 0, 0);
  }
}
.index-header {
  padding: 1.5rem;
  height: 17.5rem;
  text-align: center;
  position: relative;
  background: #bce1bf;
}
.index-header h2 {
  font-size: 1.8rem;
  font-weight: normal;
}
.index-header p {
  font-size: 1.4rem;
  color: #252525;
}
.index-header .img {
  display: inline-block;
  margin: 0 0 1rem;
  border: 2px solid #229d2b;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  overflow: hidden;
  background: #ffffff center center no-repeat;
  background-size: 100% auto;
}
.index-header .img.unbinding {
  border: none;
  background: #ffffff url(../img/car.png) center center no-repeat;
  background-size: 80% auto;
}
.index-header .icon-user {
  top: 1.5rem;
  right: 1.5rem;
  position: absolute;
}
.footer {
  padding: 1.5rem;
  border-top: 1px solid #c8c8c8;
  width: 100%;
  font-size: 1.4rem;
  color: #818181;
  background: #e8e8e8;
  position: relative;
}
.footer h3 {
  color: #252525;
}
.footer p {
  text-align: justify;
}
.footer .text-info {
  border-bottom: 1px solid #4b96cf;
}
.footer.footer-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
}
.index-list .badge {
  top: .5rem;
}
.index-list strong {
  font-size: 1.8rem;
}
@-webkit-keyframes mymove {
  0% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-1.8rem);
  }
  100% {
    -webkit-transform: translateY(-3.6rem);
  }
}
.scroll-text-msg {
  display: inline-block;
  height: 1.4rem;
  line-height: 1.8rem;
  overflow: hidden;
  vertical-align: middle;
}
.scroll-text-msg i {
  display: block;
  font-style: normal;
  position: relative;
  top: -3px;
  -webkit-animation: mymove 6s infinite cubic-bezier(1, 0, 0.5, 0);
  -o-animation: mymove 6s infinite cubic-bezier(1, 0, 0.5, 0);
  animation: mymove 6s infinite cubic-bezier(1, 0, 0.5, 0);
}
.plate-number-select {
  display: inline-block;
  padding: 0 0 0 .8rem;
  width: 55%;
  position: relative;
}
.area-selector {
  display: inline-block;
  width: 3rem;
  color: #229d2b;
  vertical-align: middle;
  position: relative;
}
.area-selector:after {
  position: absolute;
  right: 0;
  top: 30%;
  width: 6px;
  height: 6px;
  content: '';
  border-right: 0.1em solid #818181;
  border-top: 0.1em solid #818181;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.area-selector:before {
  content: '';
  display: block;
  border-top: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  background: #f3f3f3;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  bottom: -3.4rem;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.area-selector.selected:after {
  top: 40%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.area-selector.selected:before {
  width: 2rem;
  height: 2rem;
  opacity: 1;
  -webkit-transition: all 0.1s ease-out 0.1s;
  -o-transition: all 0.1s ease-out 0.1s;
  transition: all 0.1s ease-out 0.1s;
}
.area-listing {
  max-height: 0;
  opacity: 0;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.area-listing.on {
  max-height: 800px;
  opacity: 1;
  overflow: auto;
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.area-listing ul {
  padding: 1.2rem 0;
  background: #f3f3f3;
  position: relative;
}
.area-listing ul:after {
  content: '';
  display: block;
  clear: both;
}
.area-listing ul li {
  float: left;
  width: 14%;
  text-align: center;
  font-size: 1.8rem;
}
.area-listing ul li b {
  display: inline-block;
  border-radius: 100%;
  width: 3.2rem;
  height: 3.2rem;
  font-weight: normal;
  text-align: center;
  line-height: 3.2rem;
  background: transparent;
}
.area-listing ul li.selected b {
  color: #ffffff;
  background: #229d2b;
}
.wx-page-hint {
  padding: 0 2rem;
  min-height: 300px;
  text-align: center;
  background: #ffffff;
}
.wx-page-hint strong {
  font-size: 2rem;
  font-weight: normal;
}
.wx-page-hint p {
  margin-top: 1rem;
  font-size: 1.4rem;
  color: #818181;
}
.wx-page-hint .icon-record {
  display: inline-block;
  margin: 3rem 0 1rem;
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  background: #e8e8e8 url(../img/icon/record.png) center center no-repeat;
  background-size: 60%;
  position: relative;
}
.submit-success-page {
  padding: 0 2rem;
  min-height: 300px;
  text-align: center;
  background: #f3f3f3;
}
.submit-success-page strong {
  font-size: 2rem;
  font-weight: normal;
}
.submit-success-page p {
  margin-top: 1rem;
  font-size: 1.4rem;
  color: #818181;
}
.submit-success-page .icon-success {
  margin-top: 2rem;
}
.wx-article {
  padding: 1.5rem;
  font-size: 1.4rem;
}
.wx-article img {
  display: block;
  margin: 1rem 0;
  width: 100%;
}
.wx-article h2 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}
.wx-article .article-info {
  margin-bottom: 2rem;
  color: #818181;
}
.wx-article p {
  text-indent: 2em;
  font-size: 1.8rem;
  text-align: justify;
  color: #252525;
}
.wx-article table {
  margin: 1rem 0;
  border: 1px solid #ddd;
  width: 100%;
}
.wx-article table th {
  text-align: left;
  background: #F5F5F5;
}
.wx-article table th,
.wx-article table td {
  padding: .5rem;
  border-bottom: 1px solid #ddd;
}
.user-center strong.text-dim {
  display: inline-block;
  margin-right: 1rem;
  vertical-align: middle;
  width: 8rem;
}
.maintain-state,
.test-drive-state {
  text-align: center;
  background: #f3f3f3;
}
.test-drive-record .badge {
  margin-top: 1rem;
}
.maintain-detail,
.test-drive-detail {
  font-size: 1.8rem;
}
.maintain-detail dt,
.test-drive-detail dt {
  clear: left;
  float: left;
  min-width: 32%;
  color: #818181;
}
.maintain-detail dd,
.test-drive-detail dd {
  overflow: hidden;
}
.car-type-selector {
  margin-bottom: 1rem;
  border-bottom: 1px solid #e8e8e8;
  background: #f3f3f3;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  overflow-y: hidden;
}
.car-type-selector li {
  text-align: center;
  position: relative;
  display: table-cell;
  float: none;
  white-space: nowrap;
  overflow: hidden;
}
.car-type-selector li.selected:after {
  content: '';
  display: block;
  margin-left: -8px;
  border: solid #e8e8e8;
  border-width: 1px 1px 0 0;
  width: 15px;
  height: 15px;
  background: #ffffff;
  position: absolute;
  bottom: -2.3rem;
  left: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.car-type-list {
  border-top: 1px solid #e8e8e8;
}
.car-type-list img {
  margin-right: 1rem;
  vertical-align: middle;
}
.car-type-list strong {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.insure-calc .highlight {
  color: #ffffff;
  background: #229d2b;
}
.insure-calc .highlight .text-dim {
  color: #ffffff;
}
.insure-calc .text-dim,
.insure-calc strong {
  vertical-align: middle;
}
.insure-calc .text-dim {
  display: inline-block;
  width: 43%;
}
.insure-calc .input-car-price {
  width: 10rem;
  border: none;
  vertical-align: middle;
}
.insure-calc .btn-select {
  width: 54px;
  height: 34px;
  position: absolute;
  right: 18px;
  opacity: 0.01;
}
.wx-dialog-modal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: auto;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.wx-dialog-modal .wx-dialog {
  margin: 10% auto;
  width: 90%;
  min-height: 100px;
  border-radius: .5rem;
  background-color: #ffffff;
}
.wx-dialog-modal .wx-dialog-content {
  position: relative;
  background-color: #fff;
  border-radius: 6px;
  background-clip: padding-box;
  outline: 0;
}
.wx-dialog-modal .wx-dialog-header {
  padding: 8px 15px;
  border-bottom: 1px solid #229d2b;
  min-height: 16.42857143px;
}
.wx-dialog-modal .wx-dialog-title {
  font-size: 1.8rem;
  font-weight: normal;
  text-align: center;
}
.wx-dialog-modal .wx-dialog-body {
  padding: 15px;
}
.wx-dialog-modal .form-input-block .wx-ctrl-group {
  margin: 0;
  padding: 0 0 10px;
  border: none;
}
.wx-dialog-modal .form-input-block input[type="text"],
.wx-dialog-modal .form-input-block input[type="password"] {
  margin: 0;
  padding: 10px;
  border: 1px solid #818181;
  border-radius: 5px;
  width: 100%;
}
.wx-dialog-modal .form-input-block input[type="button"],
.wx-dialog-modal .form-input-block input[type="submit"] {
  width: 100%;
}
.wx-dialog-modal .form-input-block .alert-error {
  margin-bottom: 10px;
}
.show-dialog-later {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out 2s;
  -o-transition: all 0.3s ease-in-out 2s;
  transition: all 0.3s ease-in-out 2s;
  -webkit-animation: show-dialog-later 0.5s ease-in 2s;
  -o-animation: show-dialog-later 0.5s ease-in 2s;
  animation: show-dialog-later 0.5s ease-in 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes show-dialog-later {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.back-action {
  float: left;
  font-size: 1.6rem;
  color: #229d2b;
  vertical-align: middle;
}
.back-action:before {
  content: '';
  display: inline-block;
  width: .8rem;
  height: .8rem;
  border-top: 2px solid #229d2b;
  border-left: 2px solid #229d2b;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.service-list-slogon {
  padding: 2.5rem;
  font-size: 1.6rem;
  background: #f3f3f3;
}
.service-list-tips {
  padding: 1.5rem 2.5rem;
  border: solid #c8c8c8;
  border-width: 1px 0 1px;
  color: #818181;
  font-size: 1.4rem;
  background: #dae5ee;
}
.service-list-content {
  padding: 1.5rem 0 2.5rem 1.5rem;
}
.service-list-content li {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  padding: .5rem;
  font-size: 1.6rem;
  line-height: 2;
}
.service-list-content li div {
  width: 70%;
}
.service-list-content li div:first-child {
  width: 30%;
}
.service-list-content .service-list-item:nth-child(odd) {
  background: #e8f5e9;
}
.city-chooser {
  display: inline-block;
  width: 80%;
}
.loading-single {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
}
#floatingCirclesG {
  margin: 25px auto;
  position: relative;
  width: 80px;
  height: 80px;
  -moz-transform: scale(0.6);
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}
.f_circleG {
  position: absolute;
  background-color: #fff;
  height: 15px;
  width: 15px;
  -moz-border-radius: 7px;
  -moz-animation-name: f_fadeG;
  -moz-animation-duration: 0.64s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: linear;
  -webkit-border-radius: 7px;
  -webkit-animation-name: f_fadeG;
  -webkit-animation-duration: 0.64s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
  -ms-border-radius: 7px;
  -ms-animation-name: f_fadeG;
  -ms-animation-duration: 0.64s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-direction: linear;
  -o-border-radius: 7px;
  -o-animation-name: f_fadeG;
  -o-animation-duration: 0.64s;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: linear;
  border-radius: 7px;
  animation-name: f_fadeG;
  animation-duration: 0.64s;
  animation-iteration-count: infinite;
  animation-direction: linear;
}
#frotateG_01 {
  left: 0;
  top: 33px;
  -moz-animation-delay: 0.24s;
  -webkit-animation-delay: 0.24s;
  -ms-animation-delay: 0.24s;
  -o-animation-delay: 0.24s;
  animation-delay: 0.24s;
}
#frotateG_02 {
  left: 9px;
  top: 9px;
  -moz-animation-delay: 0.32s;
  -webkit-animation-delay: 0.32s;
  -ms-animation-delay: 0.32s;
  -o-animation-delay: 0.32s;
  animation-delay: 0.32s;
}
#frotateG_03 {
  left: 33px;
  top: 0;
  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  -ms-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
#frotateG_04 {
  right: 9px;
  top: 9px;
  -moz-animation-delay: 0.48s;
  -webkit-animation-delay: 0.48s;
  -ms-animation-delay: 0.48s;
  -o-animation-delay: 0.48s;
  animation-delay: 0.48s;
}
#frotateG_05 {
  right: 0;
  top: 33px;
  -moz-animation-delay: 0.56s;
  -webkit-animation-delay: 0.56s;
  -ms-animation-delay: 0.56s;
  -o-animation-delay: 0.56s;
  animation-delay: 0.56s;
}
#frotateG_06 {
  right: 9px;
  bottom: 9px;
  -moz-animation-delay: 0.64s;
  -webkit-animation-delay: 0.64s;
  -ms-animation-delay: 0.64s;
  -o-animation-delay: 0.64s;
  animation-delay: 0.64s;
}
#frotateG_07 {
  left: 33px;
  bottom: 0;
  -moz-animation-delay: 0.72s;
  -webkit-animation-delay: 0.72s;
  -ms-animation-delay: 0.72s;
  -o-animation-delay: 0.72s;
  animation-delay: 0.72s;
}
#frotateG_08 {
  left: 9px;
  bottom: 9px;
  -moz-animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
  -ms-animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
@-moz-keyframes f_fadeG {
  0% {
    background-color: #229d2b;
  }
  100% {
    background-color: #ffffff;
  }
}
@-webkit-keyframes f_fadeG {
  0% {
    background-color: #229d2b;
  }
  100% {
    background-color: #ffffff;
  }
}
@-ms-keyframes f_fadeG {
  0% {
    background-color: #229d2b;
  }
  100% {
    background-color: #ffffff;
  }
}
@-o-keyframes f_fadeG {
  0% {
    background-color: #229d2b;
  }
  100% {
    background-color: #ffffff;
  }
}
@keyframes f_fadeG {
  0% {
    background-color: #229d2b;
  }
  100% {
    background-color: #ffffff;
  }
}
